.container {
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 7vh;
  position: absolute;
  display: none;
}

.top.active {
  display: block;
}

.settingsContent {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  width: 100%;
}
