.top.active {
	display: block;
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-right: 42px;
}

.settingsContent {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	text-align: justify;
	justify-content: center;
	width: 100%;
}
