# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode
# testing
/coverage

# production
/build
/bin
/release-builds
/dist


# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
poc_service.exe
blub
installer.exe
installer.log
service.log
1ded7b57-3b60-4a0a-a52f-a141b14a8843.txt
dist.rar
dist.zip
dist.7z
dist.tar.gz
dist.tar
dist.tgz
build
dist