.container {
  position: relative;
  background-color: inherit;
  z-index: 999;
  color: #000;
  height: 100%;
  width: 100%;
}

.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 45%;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(255, 255, 255, 0.8);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
}

.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 45%;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid rgb(9 30 66 / 13%);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(9 30 66 / 13%) transparent transparent;
}
.left.active {
  display: block;
}
.container.right {
  position: relative;
  top: 0;
}
.right.active {
  display: block;
}
.top::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
  left: 55%;
  border: medium solid rgba(255, 255, 255, 0.8);
  border-width: 0 10px 10px 10px;
  border-color: rgba(255, 255, 255, 0.8) transparent rgba(255, 255, 255, 0.8) transparent;
}
.top-power::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
  left: 80%;
  border: medium solid rgba(255, 255, 255, 0.8);
  border-width: 0 10px 10px 10px;
  border-color: rgba(255, 255, 255, 0.8) transparent rgba(255, 255, 255, 0.8) transparent;
}
.container.top-power {
  position: absolute;
  right: 0px;
  top: 7vh;
  width: 50vh;
}
.top-power.active {
  display: block;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-right: 3px;
}
.bottom::before {
  content: ' ';
  height: 0;
  position: absolute;
  bottom: 0px;
  width: 0;
  z-index: 1;
  left: 45%;
  border: medium solid rgba(255, 255, 255, 0.8);
  border-width: 10px 10px 0px 10px;
  border-color: rgba(255, 255, 255, 0.8) transparent rgba(255, 255, 255, 0.8) transparent;
}
.content {
  position: relative;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: 300px;
}
