.dropdown {
  margin-top: 10px;
  width: 232px;
  height: 56px;
  border: 3.5px solid #0d77d9;
  border-radius: 16px;
}

.dropdown .textBox {
  padding: 12px 24px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  color: #0d77d9;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.children {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown .option {
  top: 49px;
  left: -3.3px;
  width: 232px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  display: none;
  z-index: 1;
  border: 3.5px solid #0d77d9;
  cursor: pointer;
}

.dropdown .option div {
  padding: 12px 24px;
  cursor: pointer;
  color: #0d77d9;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s;
}

.option div:nth-child(2) {
  border-top: 3.5px solid #0d77d9;
}
.option div:nth-child(3) {
  border-top: 3.5px solid #0d77d9;
}

.dropdown .option div:hover {
  background-color: #fff;
  color: #0d77d9;
}
.selected {
}
.dropdown::before {
  display: none;
}

/* active state */
.dropdown.active .option {
  display: block;
}
.dropdown.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
