@font-face {
	font-family: inter;
	src: url(./assets/fonts/Inter.ttf);
}
@font-face {
	font-family: SF Pro;
	src: url(./assets/fonts/Inter.SFPRODISPLAYREGULAR.OTF);
}

:root {
	--primary: #1172e5;
	--secondary: #062b56;
	--black: #000;
	--white: #fff;
	--grey: grey;
	--lightgrey: rgb(233, 233, 233);
	--darkgrey: rgba(255, 255, 255, 0.1);
	--dynamicgrey: rgba(255, 255, 255, 0.2);
	--red: red;
	--green: green;
	--orange: orange;
	--transparent: rgba(0, 0, 0, 0.1);
	--darktransparent: rgba(0, 0, 0, 0);
	--transition: all 0.3s ease;
}
.animate {
	-webkit-animation: animatezoom 0.3s;
	animation: animatezoom 0.3s;
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: var(--transparent);
	user-select: none;
	margin: 0;
	padding: 0;
}
